---
import Base from '~/layouts/Base.astro';
import Prose from '~/components/Prose.astro';

const posts = (await Astro.glob('./blog/**/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const dateFormatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format;
---

<Base title="Blog">
	<div class="pb-12"><Prose><h1>Blog</h1></Prose></div>
	<section>
		<ul>
			{
				posts.map((post) => {
					if (post.frontmatter.draft) {
						return null;
					}
					return (
						<li class="mb-4 grid grid-cols-6 gap-4">
							<time class="text-right leading-8 text-slate-500" datetime={post.frontmatter.pubDate}>
								{dateFormatter(new Date(post.frontmatter.pubDate))}
							</time>
							<span class="col-span-5">
								<a
									class="text-2xl font-bold text-blue-600 decoration-4 underline-offset-4 hover:underline dark:text-blue-200"
									href={post.url}
								>
									{post.frontmatter.title}
								</a>
							</span>
							<div class="col-span-5 col-start-2">
								<Prose>
									<p>{post.frontmatter.description}</p>
								</Prose>
							</div>
						</li>
					);
				})
			}
		</ul>
	</section>
</Base>
