---
import clsx from 'clsx';
import Icon from 'astro-icon';
import Prose from '~/components/Prose.astro';

export interface Props {
	type?: 'note' | 'tip' | 'info' | 'warning' | 'danger';
	title?: string;
}

const typeToTitle = {
	note: 'Note',
	info: 'Info',
	tip: 'Tip',
	warning: 'Warning',
	danger: 'Danger',
};

const { type = 'note', title = typeToTitle[type] } = Astro.props as Props;
---

<aside
	class={clsx(
		'prose-base mx-8 mb-4 rounded-xl px-4 py-1 text-slate-900 shadow transition-colors duration-500 dark:prose-invert',
		{
			'bg-slate-200 dark:bg-slate-800': type === 'note',
			'bg-blue-200 dark:bg-blue-800': type === 'info',
			'bg-green-200 dark:bg-green-800': type === 'tip',
			'bg-cocoa-200 dark:bg-cocoa-800': type === 'warning',
			'bg-cerise-200 dark:bg-cerise-800': type === 'danger',
		}
	)}
	aria-label={title}
>
	<p
		aria-hidden="true"
		class={clsx('!-mb-2 !mt-2 flex flex-row items-center gap-1 text-lg font-bold transition-colors duration-500', {
			'text-slate-800 dark:text-slate-200': type === 'note',
			'text-blue-800 dark:text-blue-200': type === 'info',
			'text-green-800 dark:text-green-200': type === 'tip',
			'text-cocoa-800 dark:text-cocoa-200': type === 'warning',
			'text-cerise-800 dark:text-cerise-200': type === 'danger',
		})}
	>
		<Icon name={type} class="inline h-6 w-6" />
		{title}
	</p>
	<section>
		<Prose>
			<div class="prose-sm lg:prose-base xl:prose-base">
				<slot />
			</div>
		</Prose>
	</section>
</aside>
