---
import HeaderLink from '~/components/HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { ThemeSwitcher } from '~/components/ThemeSwitcher';
---

<>
	<header class="flex flex-row items-center justify-between gap-2">
		<h1 class="shrink-0">
			<a
				class="flex flex-row items-center gap-2 whitespace-nowrap text-2xl font-bold text-blue-600 hover:text-blue-800 dark:text-blue-50 dark:hover:text-blue-200"
				style={{ alignItems: 'end' }}
				href="/"><img src="/img/logo.svg" alt="" class="h-12 w-12" width={512} height={512} />{SITE_TITLE}</a
			>
		</h1>
		<nav class="flex min-h-[56px] shrink flex-row items-end">
			<ul class="flex flex-row flex-wrap justify-end gap-2">
				<li><HeaderLink href="/blog">Blog</HeaderLink></li>
				<li><HeaderLink href="/about">About</HeaderLink></li>
				<li><HeaderLink href="/resume">Résumé</HeaderLink></li>
				<li><ThemeSwitcher client:load /></li>
			</ul>
		</nav>
	</header>
</>
