---
import clsx from 'clsx';
export type Props = astroHTML.JSX.AnchorHTMLAttributes

const { href, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a
	href={href}
	class={clsx('block rounded py-2 px-4 font-bold text-blue-600 hover:bg-blue-400/20 hover:text-blue-800 dark:text-blue-100 dark:hover:bg-blue-50/20', { 'bg-blue-400/10': isActive })}
	{...props}
>
	<slot />
</a>
