---
import Button from '~/components/Button.astro';

export interface Props {
	next?: { slug: string; title: string; draft?: boolean };
	prev?: { slug: string; title: string; draft?: boolean };
}

const { next, prev } = Astro.props as Props;
---

<nav aria-labelledby="post-nav">
	<ul class="grid w-full grid-cols-1 justify-between gap-x-12 gap-y-4 overflow-hidden sm:grid-cols-2">
		{
			next && (import.meta.env.DEV || !next.draft) ? (
				<li class="order-last flex flex-row justify-end">
					<Button href={`/blog/${next.slug}`} class="inline-flex flex-row-reverse py-4">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="h-6 w-6 shrink-0"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
						</svg>
						<span class="text-right">
							{next.title}
							{next.draft ? (
								<>
									{' '}
									<span class="text-red-400">(draft)</span>
								</>
							) : null}
						</span>
					</Button>
				</li>
			) : null
		}
		{
			prev && (import.meta.env.DEV || !prev.draft) ? (
				<li class="order-first flex flex-row justify-start">
					<Button href={`/blog/${prev.slug}`} class="inline-flex flex-row py-4">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="h-6 w-6 shrink-0"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
						</svg>
						<span>
							{prev.title}
							{prev.draft ? (
								<>
									{' '}
									<span class="text-red-400">(draft)</span>
								</>
							) : null}
						</span>
					</Button>
				</li>
			) : null
		}
	</ul>
</nav>
