---
import Link from '~/components/Link.astro';

export interface Props {
	file?: string | undefined;
	pubDate?: string | undefined;
	updatedDate?: string | undefined;
	readingTime?: { minutes: number; words: number } | undefined;
}

const { file, pubDate, updatedDate, readingTime } = Astro.props as Props;
const dateFormatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format;
---

{
	Boolean(pubDate || updatedDate || readingTime) && (
		<aside class="not-prose prose-sm mb-8 rounded-lg bg-slate-200 p-4 dark:bg-slate-800">
			<ul class="flex flex-row flex-wrap justify-between gap-4 text-blue-900 dark:text-blue-100">
				{pubDate && (
					<li>
						<b>Published:</b> <time itemprop="datePublished">{dateFormatter(new Date(pubDate))}</time>
					</li>
				)}
				{updatedDate && (
					<li>
						<b>Last updated:</b> <time itemprop="dateUpdated">{dateFormatter(new Date(updatedDate))}</time>
					</li>
				)}
				{readingTime && (
					<li>
						<b>Reading time:</b> {Math.round(readingTime.minutes)} minutes, {readingTime.words} words
					</li>
				)}
				{file && (
					<li>
						<Link href={`https://github.com/paularmstrong/paularmstrong.dev/tree/main/${file}`}>Source</Link>
					</li>
				)}
			</ul>
		</aside>
	)
}
