---
---

<div
	class="prose-pre-code:bg-blue-900 prose prose-slate prose-headings:bg-gradient-to-br prose-headings:from-blue-700 prose-headings:to-purple-600 prose-headings:bg-clip-text prose-headings:text-transparent prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline hover:prose-a:decoration-4 hover:prose-a:underline-offset-2 prose-pre:rounded-xl prose-img:rounded-lg dark:prose-invert dark:prose-headings:from-blue-400 dark:prose-headings:to-purple-400 dark:prose-a:text-blue-300 lg:prose-lg xl:prose-xl"
>
	<slot />
</div>
