---
---

<div
	class="prose lg:prose-lg xl:prose-xl prose-slate dark:prose-invert prose-img:rounded-lg prose-a:text-blue-600 prose-a:no-underline hover:prose-a:decoration-4 hover:prose-a:underline-offset-2 hover:prose-a:underline dark:prose-a:text-blue-300 prose-headings:bg-clip-text prose-headings:bg-gradient-to-br prose-headings:from-blue-700 prose-headings:to-purple-600 dark:prose-headings:from-blue-400 dark:prose-headings:to-purple-400 prose-headings:text-transparent prose-pre-code:bg-blue-900 prose-pre:rounded-xl"
>
	<slot />
</div>
