/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3a57ab;
  --ifm-color-primary-dark: #2439a7;
  --ifm-color-primary-darker: #111aa2;
  --ifm-color-primary-darkest: #110082;
  --ifm-color-primary-light: #90a8d0;
  --ifm-color-primary-lighter: #d8e1eb;
  --ifm-color-primary-lightest: #ebf4ff;
  --ifm-code-font-size: 95%;

  /*--ifm-heading-color: var(--ifm-color-primary-darkest);*/

  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: #fff;

  --ifm-button-background-color: var(--ifm-color-primary);

  --ifm-alert-color: #000;
}

.admonition h5 {
  color: var(--ifm-alert-color);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero--primary {
  background-image: url("/static/img/profile-banner.png");
  background-repeat: repeat;
  background-size: 40%;
}

.hero .button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: #fff;
}

.navbar__brand:hover {
  color: var(--ifm-navbar-link-hover-color);
}

.navbar__toggle {
  color: var(--ifm-navbar-link-color);
}

.navbar-sidebar .menu__link {
  color: var(--ifm-navbar-link-color);
}

.footer__logo {
  max-width: 5rem;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin-bottom: 1rem;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.iframe > :first-child {
  width: 100%;
}
.iframe > img {
  height: auto;
}
.iframe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframe::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.iframe > :first-child {
  max-width: 1024px;
}
