@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	tab-size: 2;
}

@layer utilities {
	.bustout {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: 80vw;
		transform: translateX(calc(50vw - 50%));
	}
}

.home-profile-img {
	margin: 0 10px 0 0;
	width: 33%;
	float: left;
	clip-path: polygon(60% 2%, 99% 35%, 100% 100%, 0 100%, 7% 22%);
}
