@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	tab-size: 2;
}

@layer utilities {
	.bustout {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: 80vw;
		transform: translateX(calc(50vw - 50%));
	}

	.small-bustout {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: 60vw;
		transform: translateX(calc(50vw - 50%));
	}
}

.home-profile-img {
	width: 38%;
	aspect-ratio: 1;
	float: right;
	shape-outside: circle(50%);
	clip-path: circle(50%);
	shape-margin: 1rem;
	overflow: hidden;
}
