---
import Base from './Base.astro';
import Prose from '~/components/Prose.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
	};
}

const {
	content: { title, description, updatedDate },
} = Astro.props;
const dateFormatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format;
---

<Base title={title} description={description}>
	<Prose
		><article>
			<h1>{title}</h1>
			{
				updatedDate && (
					<div>
						Last updated on <time>{dateFormatter(new Date(updatedDate))}</time>
					</div>
				)
			}
			<slot />
		</article>
	</Prose>
</Base>
